/frontend/node_modules
/frontend/.parcel-cache/*
.idea/
.vscode/
/frontend/build/
/frontend/dist/
/frontend/.DS_Store
*.tgz
/frontend/my-app*
/frontend/template/src/__tests__/__snapshots__/
/frontend/lerna-debug.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/.changelog
/frontend/.npm/
*.swp
/backend/Include
/backend/Lib
/backend/Scripts
/backend/pyvenv.cfg
/backend/__pycache__/